:root {
  --base-font: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  --text: #073642;
  --muted: #586569;
  --bg: #eaf8f1;
}

*{box-sizing:border-box}
html,body,#root{height:100%}
body{margin:0;font-family:var(--base-font);background:var(--bg);color:var(--text);-webkit-font-smoothing:antialiased}

a{color:inherit;text-decoration:none}

button{font-family:var(--base-font)}

